    {% include "partials/elements/header.html" %}

    <!-- banners -->
    <section class="banner contato">
        <div class="carousel slide" id="slide" data-ride="carousel">
            <div class="carousel-inner">
                <!-- banner 1 -->
                <div class="carousel-item banner-contato active">
                    <div class="row justify-content-center">
                        <h1>Contato</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- fale conosco -->
    <section class="faleconosco">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-8 col-sm-12 col-12 text-center">
                    <h3>Entre em contato</h3>
                    <span>Você pode enviar uma dúvida técnica, solicitar contato comercial <br>ou até dividir a sua opinião com a gente. <br>Escolha o assunto e fale conosco.</span>
                </div>

                <!-- formulario -->
                <div class="col-lg-6 col-md-8 col-sm-12 col-11 mt-5 primora-formulario">
                    <form class="validation" action="?" method="GET" novalidate>
                        <!-- nome completo -->
                        <div class="form-group">
                            <label for="nome">Nome completo</label>
                            <input type="text" class="form-control" id="nome" placeholder="José da Silva" required>
                        </div>
                        <!-- email -->
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" placeholder="seuemail@email.com" required>
                        </div>
                        <!-- empresa -->
                        <div class="form-group">
                            <label for="empresa">Empresa</label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome da empresa ou instituição">
                        </div>
                        <!-- assunto -->
                        <div class="form-group">
                            <label for="assunto">Selecione um assunto</label>
                            <select class="form-control" id="assunto" required>
                                <option selected disabled>Escolha um assunto</option>
                                <option>Contato comercial</option>
                                <option>Dúvidas</option>
                                <option>Reclamações</option>
                                <option>Solicitação de material</option>
                                <option>Outros</option>
                            </select>
                        </div>
                        <!-- mensagem -->
                        <div class="form-group">
                            <label for="mensagem">Mensagem</label>
                            <textarea class="form-control" id="mensagem" rows="6" required></textarea>
                        </div>
                        <!-- aceite termo -->
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="aceite" required>
                                <label class="form-check-label" for="aceite">
                                    <span><small>Estou de acordo com o tratamento de meus dados pessoais fornecidos no formulário acima <br>nos termos da <a href="https://cba.com.br/cba/politica-de-privacidade/" target="_blank"><strong>Política de Privacidade</strong></a> do site CBA.</small></span>
                                </label>
                            </div>
                        </div>
                        <!-- button -->
                        <div class="form-group text-right">
                            <button type="submit" class="btn inverse">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>