    {% include "partials/elements/header.html" %}

    <!-- banners -->
    <section class="banner">
        <div class="carousel slide" id="slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#slide" data-slide-to="0" class="active"></li>
                <li data-target="#slide" data-slide-to="1"></li>
                <li data-target="#slide" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                
                <!-- banner 1 -->
                <div class="carousel-item banner-1 active">
                    <div class="row">
                        <h1>Primora</h1>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-6 bg-left">
                            <div class="d-flex align-items-end h-100">
                                <div class="content text-left">
                                    <p class="hint">Primora Sistemas</p>
                                    <p><span>Criada para entregar o que você mais precisa, com <br>qualidade CBA que você já conhece com um <br>toque de personalização.</span></p>
                                    <a class="btn" href="primora-sistema.html">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-6 bg-right">
                            <div class="d-flex align-items-end h-100">
                                <div class="content text-right">
                                    <p class="hint">Primora Building System</p>
                                    <p><span>Um produto e serviço da mais alta qualidade para <br>projetos de alto nível. Descubra um novo nível de <br>sofisticação e personalização.</span></p>
                                    <a class="btn" href="primora-building-system.html">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- banner 2 -->
                <div class="carousel-item banner-2">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-md-10 col-sm-12 col-12">
                            <div class="d-flex align-items-center h-100">
                                <div class="content">
                                    <h2>Nós cuidamos do seu <br>projeto de alto padrão</h2>
                                    <p><span>Descubra mais sobre o Primora Building <br>System e como ela irá te ajudar nos projetos <br>mais desafiadores.</span></p>
                                    <a class="btn" href="primora-building-system.html">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- banner 3 -->
                <div class="carousel-item banner-3">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-md-10 col-sm-12 col-12">
                            <div class="d-flex align-items-center h-100">
                                <div class="content">
                                    <h2>O alumínio sob medida <br>para suas ideias</h2>
                                    <p>A Primora Sistemas é o parceiro ideal para <br>profissionais que querem criar com liberdade.</p>
                                    <a class="btn" href="primora-sistema.html">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- navigation -->
            <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <!-- sobre -->
    <section class="sobre">
        <div class="container">
            <div class="row justify-content-around text-center">
                <div class="col-lg-8 col-md-8 col-sm-12 col-10">
                    <h3>Chegou a hora de aprimorar</h3>
                    <span>A Primora foi criada com o objetivo de aprimorar os sitemas em <br>alumínio, desde o projeto, passando pelo relacionamento com os <br>profissionais até a sua instalação. <br>Aprimore seus projetos com Primora.</span>
                </div>
            </div>
        </div>
    </section>
    
    <!-- projetos -->
    <section class="projetos">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-7 col-md-6 col-sm-12 col-11 mb-5">
                    <div class="d-flex justify-content-center align-items-start h-100">
                        <div>
                            <p><img src="images/logo-2.png" class="img-fluid my-4" data-toggle="tooltip" data-placement="bottom" title="Primora" alt="Primora"></p>
                            <h2>Nossos projetos <br>são sempre iguais: <br>completamente diferentes.</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 col-9 pl-4 pl-md-0 mt-5 box-2">
                    <div class="d-flex justify-content-center align-items-end h-100">
                        <div>
                            <p><strong>A Primora Building System cuida da <br>personalização do alumínio em projetos <br>robustos.</strong></p>
                            <p><strong>Trabalhamos em parceria com os <br>profissionais para oferecer soluções <br>que eles nunca viram antes, só assim <br>podemos criar o novo juntos.</strong></p>
                            <a class="btn" href="#">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-2 d-sm-none"></div>
            </div>
        </div>
    </section>
    
    <!-- sistemas -->
    <section class="sistemas">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                    <div class="d-flex justify-content-center align-items-center h-100 mb-5">
                        <div>
                            <p class="hint type-2">Primora Sistemas</p>
                            <h3>Agora são os sistemas em alumínio que se adaptam <br>ao seu projeto.</h3>
                            <p>Projetos de todos os tamanhos merecem o alumínio personalizado, por isso a Primora Sistemas está de portas abertas para receber projetos que buscam alcançar um novo nível de inovação.</p>
                            <a class="btn inverse" href="primora-sistema.html">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <img class="img-fluid" src="images/bg-primora-sistemas.png" data-toggle="tooltip" data-placement="bottom" title="Primora Sistemas" alt="Primora Sistemas">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- vantagens -->
    <section class="vantagens">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                    <h3>Conheça as vantagens da Primora</h3>
                </div>
                
                <!-- vantagem 1 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-10 area vantagem-1">
                    <div class="d-flex justify-content-center align-items-center h-100 box">
                        <div class="content">
                            <p class="hint">Primora Building System</p>
                            <h3>Fachadas de tamanho impressionante <strong>com o <br>melhor alumínio</strong>.</h3>
                            <a class="btn" href="primora-building-system.html">Saiba mais</a>
                        </div>
                    </div>
                </div>
                
                <!-- vantagem 2 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-10 area vantagem-2">
                    <div class="d-flex justify-content-center align-items-center h-100 box">
                        <div class="content">
                            <p class="hint">Primora Sistemas</p>
                            <h3><strong>Sistemas de alumínio integrados</strong> com o ambiente</h3>
                            <a class="btn" href="primora-sistema.html">Saiba mais</a>
                        </div>
                    </div>
                </div>
                
                <!-- vantagem 3 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-10 area vantagem-3">
                    <div class="d-flex justify-content-center align-items-center h-100 box">
                        <div class="content">
                            <p class="hint">Primora Sistemas</p>
                            <h3><strong>Uma nova CBA</strong> <br>a cada projeto.</h3>
                            <a class="btn" href="primora-sistema.html">Saiba mais</a>
                        </div>
                    </div>
                </div>
                
                <!-- vantagem 4 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-10 area vantagem-4">
                    <div class="d-flex justify-content-center align-items-center h-100 box">
                        <div class="content">
                            <p class="hint">Primora Building System</p>
                            <h3>Projetos com design moderno <strong> e qualidade <br>CBA</strong>.</h3>
                            <a class="btn" href="primora-building-system.html">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>