    {% include "partials/elements/header.html" %}

    <!-- banners -->
    <section class="banner">
        <div class="carousel slide" id="slide" data-ride="carousel">
            <div class="carousel-inner">
                <!-- banner 1 -->
                <div class="carousel-item banner-2 active">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-md-10 col-sm-12 col-12">
                            <div class="d-flex align-items-center h-100">
                                <div class="content">
                                    <h2>Nós cuidamos do seu <br>projeto de alto padrão</h2>
                                    <p><span>Descubra mais sobre o Primora Building <br>System e como ela irá te ajudar nos projetos <br>mais desafiadores.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- sobre -->
    <section class="sobre">
        <div class="container">
            <div class="row justify-content-around text-center">
                <div class="col-lg-12 col-md-8 col-sm-12 col-10">
                    <h3>Quando a imaginação vai além do que existe</h3>
                    <p class="mb-0">Se você já teve um projeto ousado no qual se viu limitado pelas <br>soluções disponíveis no mercado, saiba que a Primora Building <br>System foi criada para mudar o mercado da construção civil.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- customizacao -->
    <section class="customizacao">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-11 text-center">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <h3>A união entre <strong>sofisticação e customização</strong></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- portfolio -->
    <section class="portfolio">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4 text-center">
                    <h3>Portfólio completo</h3>
                </div>
                
                <!-- residencial -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-10 mb-4 order-lg-1">
                    <h4>Residencial</h4>
                    <ul>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>R320</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>R450</span>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- fachadas -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-10 mb-4 order-last order-lg-2">
                    <h4>Fachadas</h4>
                    <ul>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>FU80</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>FU100</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>FU120</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>FU150</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>FG200</span>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- Complementos para arquitetura -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-10 mb-4 order-lg-3">
                    <h4>Complementos para arquitetura</h4>
                    <ul>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>A500</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>A600</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>A700</span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    
    <!-- vantagens -->
    <section class="vantagens">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-12 col-md-12 col-sm-12 col-10 text-center">
                    <h3>Conheça as vantagens da Primora Building System</h3>
                </div>
                
                <!-- primora building system -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-10 area vantagem-1">
                    <div class="d-flex justify-content-center align-items-center h-100 box">
                        <div class="content">
                            <p class="hint">Primora Building System</p>
                            <h3 class="mb-0">Fachadas de tamanho impressionante <strong>com o <br>melhor alumínio</strong>.</h3>
                        </div>
                    </div>
                </div>
                
                <!-- primora building system -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-10 area vantagem-building-2">
                    <div class="d-flex justify-content-center align-items-center h-100 box">
                        <div class="content">
                            <p class="hint">Primora Building System</p>
                            <h3 class="mb-0">Alumínio sob medida <br>para <strong>projetos de grande porte</strong>.</h3>
                        </div>
                    </div>
                </div>
                
                <!-- primora building system -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-10 area vantagem-building-3">
                    <div class="d-flex justify-content-center align-items-center h-100 box">
                        <div class="content">
                            <p class="hint">Primora Building System</p>
                            <h3 class="mb-0"><strong>Soluções inovadoras</strong> <br>para os seus projetos.</h3>
                        </div>
                    </div>
                </div>
                
                <!-- primora building system -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-10 area vantagem-4">
                    <div class="d-flex justify-content-center align-items-center h-100 box">
                        <div class="content">
                            <p class="hint">Primora Building System</p>
                            <h3 class="mb-0">Projetos com design moderno <strong> e qualidade <br>CBA</strong>.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>