    {% include "partials/elements/header.html" %}

    <!-- banners -->
    <section class="banner">
        <div class="carousel slide" id="slide" data-ride="carousel">
            <div class="carousel-inner">
                <!-- banner 1 -->
                <div class="carousel-item banner-3 active">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-md-10 col-sm-12 col-12">
                            <div class="d-flex align-items-center h-100">
                                <div class="content">
                                    <h2>O alumínio sob medida <br>para suas ideias.</h2>
                                    <p>A Primora Sistemas é o parceiro ideal para <br>profissionais que querem criar com <br>liberdade.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- sobre -->
    <section class="sobre">
        <div class="container">
            <div class="row justify-content-around text-center">
                <div class="col-lg-8 col-md-8 col-sm-12 col-10">
                    <h3>Seu projeto merece a personalização</h3>
                    <p class="mb-0">Muitas vezes os profissionais já começam a pensar em seus projetos levando em conta <br>os materiais disponíveis. Para assegurar que seus projetos possuam a maior liberdade <br>possível criamos a Primora Sistemas.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- dna -->
    <section class="dna">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-10 text-center">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <h3><strong>O primor no cuidado com <br>o morar bem</strong> está no DNA <br>de Primora Sistemas</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- portfolio -->
    <section class="portfolio">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4 text-center">
                    <h3>Portfólio completo</h3>
                </div>
                
                <!-- residencial -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-10 mb-4 order-lg-1">
                    <h4>Residencial</h4>
                    <ul>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>R160</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>R200</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>R250</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>R300</span>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- fachadas -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-10 mb-4 order-last order-lg-2">
                    <h4>Fachadas</h4>
                    <ul>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>FS100</span>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- Complementos para arquitetura -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-10 mb-4 order-lg-3">
                    <h4>Complementos para arquitetura</h4>
                    <ul>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>A100</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>A200</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>A300</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="images/logo-3.png" height="20" alt="">
                                <span>A400</span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    
    <!-- vantagens -->
    <section class="vantagens">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                    <h3>Conheça as vantagens da Primora Sistemas</h3>
                </div>
                
                <!-- primora sistemas -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-10 area vantagem-sistema-1">
                    <div class="d-flex justify-content-center align-items-center h-100 box">
                        <div class="content">
                            <p class="hint">Primora Sistemas</p>
                            <h3><strong>Alumínio sob medida</strong> <br>para suas ideias.</h3>
                        </div>
                    </div>
                </div>
                
                <!-- primora sistemas -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-10 area vantagem-sistema-2">
                    <div class="d-flex justify-content-center align-items-center h-100 box">
                        <div class="content">
                            <p class="hint">Primora Sistemas</p>
                            <h3><strong>Sistema de alumínio <br>integrados</strong> com o ambiente.</h3>
                        </div>
                    </div>
                </div>
                
                <!-- primora sistemas -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-10 area vantagem-sistema-3">
                    <div class="d-flex justify-content-center align-items-center h-100 box">
                        <div class="content">
                            <p class="hint">Primora Sistemas</p>
                            <h3><strong>Uma nova CBA</strong> a cada <br>projeto.</h3>
                        </div>
                    </div>
                </div>
                
                <!-- primora sistemas -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-10 area vantagem-sistema-4">
                    <div class="d-flex justify-content-center align-items-center h-100 box">
                        <div class="content">
                            <p class="hint">Primora Sistemas</p>
                            <h3><strong>Trabalhamos com você</strong> <br>para entregar o melhor.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>