
    <!-- footer -->
    <section>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-7 col-md-6 col-sm-7 col-7 align-self-center text-lg-center">
                    <h4 class="mb-0">Primora, a nova linha de produtos CBA</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-4 align-self-center">
                    <ul class="text-left">
                        <li>
                            <a href="/index.html"><strong>Home</strong></a>
                        </li>
                        <li>
                            <a href="/primora-sistema.html"><strong>Primora</strong></a>
                        </li>
                        <li>
                            <a href="https://cba.com.br/cba/politica-de-privacidade" target="_blank"><strong>CBA</strong></a>
                        </li>
                        <li>
                            <a href="/contato.html"><strong>Contato</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-xl-3 col-md-12 col-sm-12 col-12 mb-2">
                    <a class="navbar-brand logo" href="#">
                        <img src="images/logo.png" class="img-fluid" data-toggle="tooltip" data-placement="bottom" title="Primora" alt="Primora">
                    </a>
                </div>
                <div class="col-xl-4 col-md-12 col-sm-12 col-12 text-center mb-2">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <p class="mb-0"><em>2022 Primora - Todos os direitos reservados</em></p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12 col-sm-12 col-12 mb-2">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <p class="mb-0">
                            <a href="https://cba.com.br/termos-de-uso/" target="_blank">Termos de uso</a>
                            <span> | </span>
                            <a href="https://cba.com.br/cba/politica-de-privacidade/" target="_blank">Política de Privacidade</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="backtop">
        <i class="fa fa-arrow-up"></i>
    </a>