    
    <!-- header -->
    <header>
        <nav class="header">
            <!-- logo -->
            <a class="logo" href="/index.html">
                <img src="images/logo.png" class="img-fluid" data-toggle="tooltip" data-placement="bottom" title="Primora" alt="Primora">
            </a>

            <!-- icon menu mobile -->
            <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
            <label for="openSidebarMenu" class="sidebarIconToggle">
                <div class="spinner diagonal part-1"></div>
                <div class="spinner horizontal"></div>
                <div class="spinner diagonal part-2"></div>
            </label>
            
            <!-- menu -->
            <div class="menu">
                <ul class="container">
                    <li class="item home">
                        <a href="/index.html" class="d-flex justify-content-between align-items-center">Home <i class="fa fa-chevron-right"></i></a>
                    </li>
                    <li class="item" id="itemportfolio">
                        <a href="#" class="d-flex justify-content-between align-items-center">Portfólio de Produtos <i class="fa fa-sort-down d-none d-lg-block"></i> <i class="fa fa-plus d-lg-none"></i></a>
                        <div id="submenu">
                            <ul>
                                <li>
                                    <a href="/primora-sistema.html" class="d-flex justify-content-between align-items-center">Primora Sistemas <i class="fa fa-chevron-right"></i></a>
                                </li>
                                <li>
                                    <a href="/primora-building-system.html" class="d-flex justify-content-between align-items-center">Primora Building System <i class="fa fa-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <a href="https://cba.com.br/" target="_blank" class="d-flex justify-content-between align-items-center">CBA <i class="fa fa-chevron-right"></i></a>
                    </li>
                    <li class="item">
                        <a href="/contato.html" class="d-flex justify-content-between align-items-center">Contato <i class="fa fa-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
            
            <div class="navbar d-none">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">EN</a>
                    </li>
                    <li class="nav-item mx-lg-1">
                        <a class="nav-link" href="#">PT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>