	{% include "partials/elements/head.html" %}
	{% block content %}
	{% endblock %}
	{% include "partials/elements/footer.html" %}

	<!-- javascript -->
	<script src="js/bundle.min.js"></script>
</body>
</html>