/*
####################################################
COMPONENTS
####################################################	
*/

.btn {
	border: 1px solid transparent;
	padding: 10px 30px;
	background-color: $white;
	color: $sixty !important;
	font-weight: 700;
	border-top-left-radius: 22px;
	border-bottom-right-radius: 22px;
	margin-top: 20px;
	&:hover {
		background-color: $primary;
		color: $white !important;
	}
	&.inverse {
		background-color: $primary;
		color: $white !important;
		&:hover {
			background-color: $white;
			color: $primary !important;
			border: 1px solid $secondary;
		}	
	}
}

.banner {
	color: $white;
	padding: 0;
	.content {
		width: 100%;
		padding: 50px;
		position: relative;
		z-index: 998;
	}
	.carousel-control-prev,
	.carousel-control-next {
		width: 11%;
		height: 100px;
		top: 50%;
		margin-top: -50px;
	}
	.carousel-control-prev {
		z-index: 999;
	}
	.carousel-control-next {
		z-index: 999;
	}
	.row {
		min-height: 450px;
	}
	.carousel-item {
		h1 {
			position: absolute;
			width: 100%;
			top: 43%;
			left: 0;
			z-index: 100;
			font-size: 2.8em;
			font-weight: 900;
			text-align: center;
		}
	}
	.banner-1 {
		.bg-left {
			background: url(../images/bg-banner-1-left.jpg) left center no-repeat;
			background-size: cover;
		}
		.bg-right {
			background: url(../images/bg-banner-1-right.jpg) right center no-repeat;
			background-size: cover;
		}
	}
	.banner-2 {
		background: url(../images/bg-banner-2.jpg) center center no-repeat;
		background-size: cover;
	}
	.banner-3 {
		background: url(../images/bg-banner-1-left.jpg) center bottom no-repeat;
		background-size: cover;
	}
	.banner-contato {
		background: url(../images/bg-contato.jpg) center top no-repeat;
		background-size: cover;
	}
	p {
		font-weight: 500;
	}
}

.projetos {
	background: url(../images/bg-projetos.jpg) center center no-repeat;
	background-size: auto 100%;
	height: auto;
	color: $white;
	.container,
	.row {
		height: 100%;
	}
	.box-2 {
		margin-bottom: 50px;
	}
}

.vantagens {
	.area {
		margin: 20px 0;
		.content {
			width: 100%;
		}
		h3 {
			font-family: 'votorantim_sanslight';
			color: $white;
			strong {
				font-family: 'votorantim_sansbold';
			}
		}
	}
	.box {
		border-top-left-radius: 80px;
		border-bottom-right-radius: 80px;
		height: auto;
		padding: 40px;
		overflow: hidden;
	}
	.vantagem-1 {
		.box {
			background: url(../images/bg-home-vantagem-1.jpg) center bottom no-repeat;
			background-size: cover;
		}
	}
	.vantagem-2 {
		.box {
			background: url(../images/bg-home-vantagem-2.jpg) center center no-repeat;
			background-size: cover;
		}
	}
	.vantagem-3 {
		.box {
			background: url(../images/bg-home-vantagem-3.jpg) center center no-repeat;
			background-size: cover;
		}
	}
	.vantagem-4 {
		.box {
			background: url(../images/bg-home-vantagem-4.jpg) center bottom no-repeat;
			background-size: 600px 600px;
		}
	}
	.vantagem-sistema-1 {
		h3 {
			margin-bottom: 0;
		}
		.box {
			background: url(../images/bg-vantagem-sistema-1.jpg) center center no-repeat;
			background-size: cover;
		}
	}
	.vantagem-sistema-2 {
		h3 {
			margin-bottom: 0;
		}
		.box {
			background: url(../images/bg-home-vantagem-2.jpg) center center no-repeat;
			background-size: cover;
		}
	}
	.vantagem-sistema-3 {
		h3 {
			margin-bottom: 0;
		}
		.box {
			background: url(../images/bg-home-vantagem-3.jpg) center center no-repeat;
			background-size: cover;
		}
	}
	.vantagem-sistema-4 {
		h3 {
			margin-bottom: 0;
		}
		.box {
			background: url(../images/bg-vantagem-sistema-4.jpg) center center no-repeat;
			background-size: cover;
		}
	}
	.vantagem-building-2 {
		.box {
			background: url(../images/bg-vantagem-building-2.jpg) center center no-repeat;
			background-size: cover;
		}
	}
	.vantagem-building-3 {
		.box {
			background: url(../images/bg-vantagem-building-3.jpg) center center no-repeat;
			background-size: cover;
		}
	}
}

.dna {
	background: url(../images/bg-dna.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
	height: 700px;
	.container,
	.row {
		height: 100%;
	}
	h3 {
		color: $white;
		font-family: 'votorantim_sanslight';
		strong {
			font-family: 'votorantim_sansbold';
		}
	}
}

.customizacao {
	background: url(../images/bg-customizacao.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
	height: 450px;
	.container,
	.row {
		height: 100%;
	}
	h3 {
		color: $white;
		font-weight: 300;
		margin-bottom: 0;
	}
}

.portfolio {
	padding-top: 100px;
	li {
		font-size: 1.5em;
		color: $secondary;
		font-weight: 600;
		margin-bottom: 10px;
		img {
			margin-right: 15px;
		}
	}
}

.backtop {
	background-color: $secondary;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	text-align: center;
	color: $primary;
	z-index: 1000;
	i {
		font-size: 1.6em;
		padding: 12px;
	}
}

.carousel-control-next, 
.carousel-control-prev {
	opacity: 1;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
	width: 60px;
	height: 60px;
}
.carousel-control-next-icon {
	background: url(../images/banner-seta-direita.png) center center no-repeat;
	background-size: 100%;
	margin-right: 15px;
}
.carousel-control-prev-icon {
	background: url(../images/banner-seta-esquerda.png) center center no-repeat;
	background-size: 100%;
	margin-left: 15px;
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

// banner horizontal ou vertical home
@media (max-width: 576px) {
	.banner {
		.banner-1 {
			p {
				font-size: 0.85em;
				line-height: 1.3em;
				&.hint {
					font-size: 1em;
				}
			}
			.content {
				padding: 40px 15px;
			}
			.btn {
				padding: 10px 20px;
				margin-top: 10px;
			}
		}
		.carousel-item {
			h1 {
				font-size: 3.2em;
				top: 15%;
			}
		}
		&.contato {
			h1 {
				top: 43%;
			}
		}
	}
	.vantagens {
		.area {
			min-height: 350px;
		}
	}
	.dna,
	.customizacao {
		height: 400px;
	}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 767px) {
	.logo {
		img {
			height: 30px;
			margin-top: 5px;
			margin-left: 10px;
		}
	}
	.projetos {
		background: url(../images/bg-projetos-mobile.jpg) center -50px no-repeat !important;
		background-size: cover !important;
		.box-2 {
			margin-top: 200px !important;
			font-size: 0.85em;
		}
	}
}

@media (min-width: 768px) {
	.logo {
		img {
			margin-top: 5px;
			margin-left: 15px;
		}
	}
	.vantagens {
		.box {
			min-height: 400px;
			padding: 50px 70px;
		}
	}
	.banner {
		.carousel-item {
			h1 {
				font-size: 4em;
				display: block;
			}
		}
	}
	.projetos {
		background: url(../images/bg-projetos.jpg) left top no-repeat;
		background-size: 900px 100%;
	}
}

.primora-formulario {
	p, 
	span,
	label,
	.form-control {
		color: $primary;
	}
	label {
		font-weight: 700;
		font-size: 0.9em;
		margin-bottom: 5px;
	}
	.form-control {
		border-color: $primary;
	}
	a {
		color: $fifty;
	}
}

@media (max-width: 992px) {
	.projetos {
		background: url(../images/bg-projetos.jpg) left center no-repeat;
		background-size: cover;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.banner {
		padding: 0;
		.row {
			height: 90vh;
		}
		.content {
			padding: 50px 100px;
		}
		.carousel-item {
			h1 {
				font-size: 5.5em;
			}
		}
	}
	.projetos {
		background: url(../images/bg-projetos.jpg) left center no-repeat;
		background-size: cover !important;
		height: 600px;
	}
	#itemportfolio,
	#submenu {
		min-width: 200px;
	}
	#itemportfolio {
		.fa-sort-down {
			margin-bottom: 5px;
		}
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.projetos {
		background: url(../images/bg-projetos.jpg) left center no-repeat;
		background-size: 1920px 750px !important;
		min-height: 750px;
	}
	.cc-window {
		text-align: center !important;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
