/*
####################################################
FOOTER
####################################################	
*/

footer {
	background-color: $third;
	border-top-right-radius: 200px;
	padding: 70px 0 40px;
	text-align: center;
	color: $white;
	p {
		font-size: 0.9em;
	}
	a {
		text-decoration: underline;
	}
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	footer {
		border-top-right-radius: 300px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}