/*
####################################################
GLOBALS
####################################################	
*/
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,900&display=swap');

@font-face {
    font-family: 'votorantim_sansblack';
    src: url("../fonts/votorantin/votorantimsans-black_webonly-webfont.woff2") format("woff2"),url("../fonts/votorantin/votorantimsans-black_webonly-webfont.woff") format("woff"),url("../fonts/votorantin/VotorantimSans-Black_WebOnly.ttf") format("ttf");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'votorantim_sansbold';
    src: url("../fonts/votorantin/votorantimsans-bold_webonly-webfont.woff2") format("woff2"),url("../fonts/votorantin/votorantimsans-bold_webonly-webfont.woff") format("woff"),url("../fonts/votorantin/VotorantimSans-Bold_WebOnly.ttf") format("ttf");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'votorantim_sanslight';
    src: url("../fonts/votorantin/votorantimsans-light_webonly-webfont.woff2") format("woff2"),url("../fonts/votorantin/votorantimsans-light_webonly-webfont.woff") format("woff"),url("../fonts/votorantin/VotorantimSans-Light_WebOnly.ttf") format("ttf");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'votorantim_sansmedium';
    src: url("../fonts/votorantin/votorantimsans-medium_webonly-webfont.woff2") format("woff2"),url("../fonts/votorantin/votorantimsans-medium_webonly-webfont.woff") format("woff"),url("../fonts/votorantin/VotorantimSans-Medium_WebOnly.ttf") format("ttf");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'votorantim_sansregular';
    src: url("../fonts/votorantin/votorantimsans-regular_webonly-webfont.woff2") format("woff2"),url("../fonts/votorantin/votorantimsans-regular_webonly-webfont.woff") format("woff"),url("../fonts/votorantin/VotorantimSans-Regular_WebOnly.ttf") format("ttf");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'votorantim_sansthin';
    src: url("../fonts/votorantin/votorantimsans-thin_webonly-webfont.woff2") format("woff2"),url("../fonts/votorantin/votorantimsans-thin_webonly-webfont.woff") format("woff"),url("../fonts/votorantin/VotorantimSans-Thin_WebOnly.ttf") format("ttf");
    font-weight: normal;
    font-style: normal
}

html {
	scroll-behavior: smooth;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-synthesis: antialiased;
	text-rendering: optimizeLegibility;
	// font-family: 'Open Sans';
	font-family: 'votorantim_sansregular';
	font-size: 1.05em;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: normal;
	margin: 0 auto;
	position: relative;
	color: $primary;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1em;
	letter-spacing: -0.015em;
	margin-bottom: 20px;
	display: block;
}
h1 {
	// font-weight: 700 !important;
	letter-spacing: 0.02em;
	font-family: 'votorantim_sansbold';
}
h2 {
	font-size: 2em;
	font-family: 'votorantim_sansbold';
}
h3 {
	font-size: 1.7em;
	font-family: 'votorantim_sansbold';
	color: $primary;
	margin-bottom: 30px;
	line-height: 1.25em;
	strong {
		font-weight: 700;
	}
}
h4 {
	font-family: 'votorantim_sansbold';
	font-size: 1.4em;
	font-weight: 700;
	color: $primary;
	margin-bottom: 30px;
	line-height: 1.25em;
	letter-spacing: -0.04em;
}
.container {
	// max-width: 1140px;
}
.header, 
section {
	max-width: 1920px; // 1440px / 1920px
	margin: 0 auto;
	// border: 1px solid red;
}
header, 
footer {
	max-width: 1920px;
	margin: 0 auto;
}
section {
	padding: 40px 0;
}
a {
	color: inherit;
	text-decoration: none;
	&:hover {
		color: inherit;
	}
}
b, strong {
	font-weight: 700;
}
.hint {
	font-size: 1.1em;
	font-weight: 700 !important;
	color: $white;
	&.type-2 {
		color: $primary;
	}
	&.type-3 {
		color: $fourth;
	}
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	section {
		padding: 50px 0;
	}
	h2 {
		font-size: 2.8em;
	}
	h3 {
		font-size: 2.15em;
	}
	h4 {
		font-size: 1.6em;
	}
}

@media (max-width: 1200px) {
	br {
		display: none;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	h2 {
		font-size: 3.6em;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}