/*
####################################################
HEADER
####################################################
*/

header {
	position: fixed;
    right: 0;
    left: 0;
	top: 0;
	z-index: 1100;
	&.scrolled,
	&.actived {
		background-color: $third;
	}
}
.header {
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 1000;
	margin: 0 auto;
	position: relative;
	.logo {
		padding: 15px;
	}
	.menu {
		background-color: $secondary;
		width: 100%;
		height: 95vh;
		position: fixed;
		top: 64px;
		left: 0;
		z-index: 1100;
		display: none;
		.container {
			padding: 0;
		}
		.item {
			position: relative;
			a {
				position: relative;
				font-size: 1.1em;
				display: block;
				border-top: 1px solid $primary;
				padding: 20px 15px;
				font-weight: 700;
				text-decoration: none;
			}
			div {
				padding-left: 30px;
				border-top: 1px solid $primary;
				display: none;
				a, li {
					border: 0 none;
				}
				a {
					padding-top: 10px;
					padding-bottom: 10px;
					font-size: 1em;
				}
			}
			&.home {
				a {
					border-top: 0;
				}
			}
		}
	}
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	.header {
		.menu {
			top: 78px;
		}
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.header {
		background-color: transparent;
		.menu {
			display: block !important;
			background-color: transparent;
			width: 400px;
			height: auto;
			position: absolute;
			top: 20px;
			left: 50%;
			margin: 0 auto 0 -200px;
			.container {
				display: flex!important;
			}
			.item {
				position: relative;
				margin: 0 10px;
				&.home {
					display: none;
				}
				a {
					border-radius: 20px;
					border: 1px solid $white;
					color: $white;
					position: relative;
					font-size: 0.85em;
					padding: 5px 15px;
					font-weight: 700;
					text-align: center;
					display: block;
					text-decoration: none;
					&:hover {
						background-color: $secondary;
						color: $primary;
						border-color: transparent;
					}
				}
				div {
					padding: 10px 0;
					border-radius: 20px;
					position: absolute;
					top: 40px;
					background-color: $secondary;
					color: $primary;
					overflow: hidden;
					border: 0 none;
					a, li {
						border: 0 none;
					}
					li {
						margin: 0;
					}
					a {
						border-radius: 0;
						display: block !important;
						padding-top: 5px;
						padding-bottom: 5px;
						font-size: 0.9em;
						text-align: center;
						color: $primary;
						&:hover {
							text-decoration: underline;
						}
					}
				}
				&.open {
					a {
						background-color: $secondary;
						color: $primary;
						border-color: transparent;
					}
				}
			}
			i {
				display: none;
			}
		}
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
