/*
####################################################
MENU
####################################################	
*/

.sidebarMenuInner{
    margin:0;
    padding:0;
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    &:first-child {
        b {
            text-transform: lowercase;
        }
    }
    .bullet {
        background-color: red;
        width: 10px;
        height: 10px;
        margin: 0 0 0 10px;
        display: inline-block;
        border-radius: 50%;
    }
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    font-family: 'Arial';
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    width: 100%;
    padding: 20px 35px 10px 25px;
    &:hover {
        color: $tenth;
    }
    position: relative;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

#openSidebarMenu {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
	border-radius: 0;
    cursor: pointer;
    position: absolute;
    top: 35%;
    right: 15px;

    z-index: 1000;
    height: 100%;
    width: 100%;
    height: 24px;
    width: 24px;
    z-index: 1000;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: $white;
    z-index: 1000;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 10px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -11px;
}
.label-user {
    height: 90px; 
    padding-top: 0; 
    padding-bottom: 0;
}

/*
####################################################
BOOTSTRAP 4 BREAKPOINTS
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sidebarIconToggle {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}