/*
####################################################
VARIABLES
####################################################
*/

// default
$black: black;
$white: white;
$gray: grey;
$bgprimora: #010066;

// palette
$primary: #010066;
$secondary: #84d171;
$third: #1e1941;
$fourth: #01c1d0;
$fifty: #2cd7eb;
$sixty: #1f1d3e;
$seventy: '';
$eighth: '';
$ninth: '';
$tenth: '';
$eleventh: '';
$twelfth: '';
$thirteenth: #efefef;